.modal-dashboard {
  padding: 0;
}

.main-container {
  padding: 0 15px;
  max-width: 500px;
  margin: 0 auto;
}

.text-common {
  color: white;
  font-size: 16px;
  letter-spacing: 0.2;
}

.contain-center {
  max-width: 500px;
  margin: 0 auto;
}